<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <title>楼盘销售系统</title>
</head>

<body>
    <div class="page-header text-center m_header">
        <h1>数据库大作业 <small>楼盘销售系统</small></h1>
    </div>
</body>

</html>