<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <title>商品销售系统</title>
</head>

<body class="container-fluid">
    <div class="page-header text-center m_header">
        <h1>数据库大作业 <small>商品销售系统</small></h1>
    </div>

    <div class="row m_container">
        <div id="m_menu" class="col-md-2 m_left_head text-center">
            <h2 class="m_h2 text-center">功能</h2>
            <ul class="list-group">
                <li class="m_menu list-group-item list-group-item-info" onclick="employeeInfo()">员工信息</li>
                <li class="m_menu list-group-item list-group-item-info" onclick="customerInfo()">顾客信息</li>
                <li class="m_menu list-group-item list-group-item-info" onclick="productInfo()">商品信息</li>
                <li class="m_menu list-group-item list-group-item-info" onclick="supplierInfo()">供应商信息</li>
                <li class="m_menu list-group-item list-group-item-info" onclick="tradeInfo()">销售信息</li>
                <li class="m_menu list-group-item list-group-item-info" onclick="addOrder()">增加订单</li>
            </ul>
        </div>
        <div id="content" class="col-md-10 m_content">
            这里将要显示内容
        </div>
    </div>
<script src="js/menu_employee.js"></script>
<script src="js/menu_customers.js"></script>
<script src="js/menu_product.js"></script>
<script src="js/menu_trade.js"></script>
<script src="js/menu_order.js"></script>
<script src="js/menu_supplier.js"></script>
</body>
</html>