
* {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}

.m_header {
   /*background-color: lightslategray;*/
    font-weight: bold;
    /*margin-top: 0px;*/
}

.m_left_head {
    border-right: 2px dotted gold;
}

.m_menu {
    list-style: none;
    width: 80%;
    margin: auto;
}

.m_menu:hover{
    cursor: pointer;

    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.m_content {
    /*padding: 10px;*/
    /*background: lightgreen;*/
    padding: 20px;
}

.m_h2 {
    width: 80%;
    text-align: center;
    background: greenyellow;
    border-radius: 50%;
    margin: 10px auto;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}